@{
	ViewBag.Title = "Home";
}
@section Scripts {
	<script src="@Url.Content("~/Scripts/jController-index.js")" type="text/javascript"></script>
}

<div class="index-hero-wrapper">
	<div class="index-hero"></div>
</div>