<div class="center">
	<p>
		Copyright &copy; 2008 - @DateTime.Now.Year <a href="@Url.Action("Contact", "Home")">Maximilian Krauss</a>. A brew from <a href="http://coffeeInjection.com">coffeeInjection</a>.
	</p>
</div>

<!-- TODO: Add Tracking -->