<div id="application-logo"></div>

<!-- Navigation -->
<ul>
	<li>@Html.ActionLink("Home","Index","Home")</li>
	<li><a href="#">Features</a></li>
	<li><a href="#">Help</a></li>
	<li>@Html.ActionLink("Download", "Index", "Download")</li>
</ul>