<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="codeHighlighter" type="ActiproSoftware.CodeHighlighter.CodeHighlighterConfigurationSectionHandler, ActiproSoftware.CodeHighlighter.Net20" />
  </configSections>
  <appSettings>
    <!-- Legt fest ob sich das Web im Wartungsmodus befindet -->
    <add key="maintenanceMode" value="False"/>
    <!-- Legt fest ob Http Anfragen automatisch in Https Anfragen umgeleiteten werden sollen. -->
    <add key="sslOnly" value="False"/>
  </appSettings>

  <codeHighlighter>
    <cache languageTimeout="3" />
    <keywordLinking enabled="true" target="_blank" defaultKeywordCollectionKey="ActiproKeywords">
      <keywordCollection key="ActiproKeywords">
        <explicitKeyword tokenKey="IdentifierToken" patternValue="Actipro" url="http://www.actiprosoftware.com" caseSensitive="false" />
        <explicitKeyword tokenKey="IdentifierToken" patternValue="CodeHighlighter" url="http://www.codehighlighter.com" caseSensitive="false" />
      </keywordCollection>
    </keywordLinking>
    <languages>
      <language key="C#" definitionPath="~/Layout/SyntaxHighlighter/Lexers/ActiproSoftware.CSharp.xml" />
      <language key="VB.NET" definitionPath="~/Layout/SyntaxHighlighter/Lexers/ActiproSoftware.VBDotNet.xml" />
    </languages>
    <lineNumberMargin foreColor="Teal" paddingCharacter=" " visible="true" />
    <outlining enabled="true" imagesPath="~/Images/SyntaxHighlighter.OutliningIndicators/" />
    <spacesInTabs count="4" />
  </codeHighlighter>

  <connectionStrings/>
  <system.web>
    <!--
			The <customErrors> section enables configuration 
			of what to do if/when an unhandled error occurs 
			during the execution of a request. Specifically, 
			it enables developers to configure html error pages 
			to be displayed in place of a error stack trace.
		-->
    <customErrors mode="On" defaultRedirect="/ErrorPages/FatalError.aspx">
      <!--<error statusCode="403" redirect="NoAccess.htm" />-->
      <error statusCode="404" redirect="/ErrorPages/Http404.aspx"/>
    </customErrors>
    <pages>
      <controls />
    </pages>
    <!-- 
						Set compilation debug="true" to insert debugging 
						symbols into the compiled page. Because this 
						affects performance, set this value to true only 
						during development.
				-->
    <compilation debug="true"></compilation>
    <authentication mode="Windows"></authentication>
  </system.web>

</configuration>
