@model Website.Models.DownloadModel

@{
	ViewBag.Title = "Index";
}


<div class="download">
	<div class="download-latest-binary">
		<p>
			Get the latest Binary
		</p>
	</div>
	<div class="download-latest-source">
		<p>
			Get the Source
		</p>
	</div>
</div>